{% extends 'main/base.html' %}

{% block title %}Изменить пароль | Todo app{% endblock title %}
{% block header_title %}Изменить пароль{% endblock header_title %}

{% block content %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Ваш аккаунт не имеет доступа к этой странице</p>
  {% else %}
    <p>Пожалуйста войдите чтобы увидеть эту страницу</p>
  {% endif %}
{% endif %}

{% for field in form %}
  {{ field.help_text }}
{% endfor %}

<form method="post" action="{% url 'main:password_change' %}" class="auth">
{% csrf_token %}
{% for field in form %}
  {{ field.errors }}
  {{ field.label }}

  {{ field }}  
  
{% endfor%}

<input type="submit" value="Отравить" class="button">
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'main:login' %}">Передумали?</a></p>

{% endblock %}
