{% extends 'main/base.html' %}
{% load static %}


{% block title %}Задачи | Todo app{% endblock title %}
{% block header_title %}Задания на сегодня{% endblock header_title %}

{% block content %}
	<button class="button bottom-left margin" id="add-task">
		<i class="icon-add"></i>
	</button>	
{% endblock content %}

{% block js %}
	<script type="module" src="{% static 'js/tasks.js' %}"></script>
	<script type="module" src="{% static 'js/requester.js' %}"></script>
	<script type="module" src="{% static 'js/alert.js' %}"></script>
{% endblock js %}
